@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("../fonts/raleway-semibold-webfont.eot");
  src: url("../fonts/raleway-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway-semibold-webfont.woff") format("woff"), url("../fonts/raleway-semibold-webfont.ttf") format("truetype"), url("../fonts/raleway-semibold-webfont.svg#ralewaysemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaylight';
  src: url("../fonts/raleway-light-webfont.eot");
  src: url("../fonts/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-light-webfont.woff2") format("woff2"), url("../fonts/raleway-light-webfont.woff") format("woff"), url("../fonts/raleway-light-webfont.ttf") format("truetype"), url("../fonts/raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal; }



body{
background-color: #f2bd72/*{c-body-background-color}*/;
}

.ui-grid-a{
margin-top:0.8em !important
}

.ui-corner-all {
    border-radius: 0;
}

.ui-body-c,
.ui-overlay-c {
	/*border: 1px solid #aaa /*{c-body-border}*/;
	color: 					#333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background:none;

}




.ui-overlay-c {
	border-width: 0;
}
.ui-block-b{
	width:100%

}


.ui-block-a .ui-bar-e{
background-color:transparent !important;
background-image:none;
border:0;
}
.ui-block-b .ui-bar-e {
	border: 0 /*{e-bar-border}*/;
	background:transparent /*{e-bar-background-color}*/;
	background-image: url(../images/Loginbox.png);
	background-repeat:no-repeat;
	background-color:transparent;

}


.ui-btn-inner { font-size: 1em; padding:5px 10px; min-width: auto; display: block; position: relative;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1; }

.ui-btn-up-c {
	border: 1px solid 		#333 /*{c-bup-border}*/;
	background: 			#eee /*{c-bup-background-color}*/;
	color: 					#fff !important /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 0 /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #777 /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9c635 /*{c-bup-background-start}*/), to( #e9a80b /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/);
	background-image:none; 
	background:#FF9C22;
	width:100%;
	font-weight:normal
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain { border-width: 0; padding: 0; margin: .5em 0 0; }

.ui-field-contain div.ui-input-text { width: auto; display:block; font-size:1em }


.ui-body-e {
	border: 0 /*{e-body-border}*/;
	color: 					#222 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ 	#fff /*{e-body-shadow-color}*/;
	background: 			#fff!important /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{e-body-background-start}*/), to( #ffffff /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{e-body-background-start}*/, #ffffff /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{e-body-background-start}*/, #ffffff /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{e-body-background-start}*/, #ffffff /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{e-body-background-start}*/, #ffffff /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{e-body-background-start}*/, #ffffff /*{e-body-background-end}*/);
}


.ui-overlay-e {
background-color:#f5c98c;
}


.ui-bar-e {
	border:0;
	border-bottom: 2px solid #ffffff /*{e-bar-border}*/;
	background: 			#c60404 !important /*{e-bar-background-color}*/;
	color: 					#ffffff /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 0 /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#fff /*{e-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c60404 /*{e-bar-background-start}*/), to( #900000 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/);
}

label .ui-input-text{
font-size:1em
}

input.ui-input-text, textarea.ui-input-text{
font-size:1em;
background-color:#FFF !important;
font-weight:normal !important;
}

input.ui-input-text{
min-height:1.7em
}

.ui-overlay-e{
border:1px
}

.ui-btn-inner { font-size: 1em; padding:8px; min-width: auto; display: inline-block ; position: relative; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1; 
}

.ChefStyle img{
width:100% !important;
height:100% !important
}
.LoginImgDiv img{
width:100%;
height:auto;
position:relative;
top:5px;
margin-top:10px}

.LoginInputsSP{
width:180px ;
position:relative;
left:85px;
top:85px;
margin:0;
padding:0
}



.LoginInputsSP label{
font-weight:bold;

}

.LoginInputsSP .ui-btn-up-c,
.LoginInputsSP .ui-btn-hover-c
{
float:right;
margin:0
}

.LoginInputsSP  .ui-btn-corner-all {
	-webkit-border-radius: 				.8em /*{global-radii-buttons}*/;
	border-radius: 						.8em /*{global-radii-buttons}*/;
	margin-top:-2px
}

.LoginInputsSP .ui-body-c,
.LoginInputsSP .ui-overlay-c{
background-image:none !important ;
background-color:#fff !important ;
border: 1px solid #555
}




.ui-content {
    border-width: 0;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 20px 15px 0;
}




.SiteLogo{
text-align:center;
padding-top:0.5em
}

.SiteLogo img{
height:75px;
width:auto;
}

.SiteName{
font-family:Arial,sans-serif;
font-size:1.2em;
color:#000;
text-align:center
}


/*---SMART PHONE CLASSES--*/


.ui-shadow-inset {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) inset;
}

.SplashWords{
margin:0 auto;
font-family:Arial, sans-serif;
color:#fff/*{c-body-color}*/;
text-shadow: 1px /*{c-body-shadow-x}*/ 0  #333 /*{c-body-shadow-color}*/;
font-size:0.95em;
}

.SplashWords p{ 

padding:0 20px 0 20px;
}

.LoginDiv{
background: transparent; /* Old browsers */

}


.ui-btn-up-e {
	background:#a26404 !important;
    border: 1px solid #731414;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
	font-family: 'Arvo', 'serif';
	font-family:Helvetica, Arial, sans-serif;
}
.ui-btn-up-e:visited, .ui-btn-up-e a.ui-link-inherit {
    color: #fff;
}

.ui-radio-on.ui-btn-active{
background:#ff8a08;
}

.LogoHolder{
text-align:center;
margin-bottom:20px
}

.LogoHolder img{
height:150px;
width:auto
}

@media screen and (min-width:320px) {

.WelcomePara { display:none } 
	
.tcb{
background-image:url(../images/TCBackground.jpg) !important ;
background-position:center top;
background-size:cover!important;	
}

.ui-field-contain .ui-controlgroup-controls {
    display: inline-block;
    width: 100% !important
}

.ui-header .ui-title, .ui-footer .ui-title {
    display: block;
    font-size: 16px;
    margin: 0.5em  ;
    min-height: 1.1em;
    outline: 0 none !important;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LoginHolderSP{
    min-height: 420px;
    /* min-width: 300px; */
    width: 100%;
    height: 100%;
	
	}

.LoginHolderSP{
background: #f7deb6; /* Old browsers */

}

.cutlery{
height:350px;
min-width:220px;
background:transparent url(../images/Judgebg-320.png) no-repeat left bottom !important ;
position:absolute;
bottom:0;
}

.napkin{
position:absolute;
right:0; 
bottom:0;
height:150px;
width:88px;
background:url(../images/napkin-320.png) no-repeat;
}

.LoginDiv{
width:85%;
margin:20px auto 0;
position:relative;
z-index:10;
}


.LogoHolder{
margin-bottom:0px
}

.LogoHolder img{
height:100px;
width:auto
}

.LoginInputs{
width:90% ;
position:relative;
margin :0 auto;
padding-bottom:0.5em
}


.LoginInputs label{
font-weight:bold;
}


.LoginInputs .ui-body-c,
.LoginInputs .ui-overlay-c{
background-image:none !important ;
background-color:#fff !important ;
border: 1px solid #ccc;
border-radius:0;
}

.LoginInputs .ui-btn-up-c,
.LoginInputs .ui-btn-hover-c
{
float:none;
margin:0;
width:100%
}


.LoginInputs .ui-btn-hover-c
{
float:none;
margin:0;
width:100%;
background:#FDAE4C;
color: #fff /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 0 /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #777 /*{c-bup-shadow-color}*/;
font-weight:normal
}

.LoginInputs .ui-btn-corner-all {
	-webkit-border-radius: 				0 /*{global-radii-buttons}*/;
	border-radius: 						0 /*{global-radii-buttons}*/;

}

.UserDiv{
font-size:12px;
text-align:right;
padding:10px 0.5em 0;
width:auto;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
position:absolute;
right:0;
text-shadow: 1px /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ #667 /*{e-bar-shadow-color}*/;
}

#scoreTab{
background-color:#fff !important
}


.ScoreHolder{
width:300px ;
margin:0.8em auto 0;
}



.ScoreLeft{
font-weight:bold;
font-size:1.1em;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
font-weight:bold;
width:300px;

}


.ScoreRight{
width:300px  !important;
margin-bottom:0.5em;

}

.ui-grid-a > *:nth-child(n) {
    width: 300px;
}

.ui-body-d, .ui-overlay-d{
border: 0 /*{e-body-border}*/;
background-color:transparent;
background-image:none;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
padding:0;
}


.ui-body-d .scoreControlContainer,
.ui-overlay-d.scoreControlContainer{
width:300px;
margin-top:5px
}

.ui-controlgroup-horizontal .ui-checkbox .ui-btn-inner, .ui-controlgroup-horizontal .ui-radio .ui-btn-inner {
    padding: 0.8em 1.15em;
}

div#btnSubmitScore  .ui-btn-corner-all {
	-webkit-border-radius:0 /*{global-radii-buttons}*/;
	border-radius:0/*{global-radii-buttons}*/;
}

.ui-overlay-e {
background-color:#f5c98c;
}

.submitMessage
{font-size:1em;
 font-style:italic;
 color:red;
 display:block;
 margin:2px 15px;
}
}

@media screen and (min-width:480px) {
	
.LoginDiv{
width:85%;
margin:100px auto ;
}


.LogoHolder img {
height: 135px;
}

.SiteName {
font-size: 1.5em;
}
}


@media screen and (min-width:590px) {
	

.LogoHolder img{
height:150px;
width:auto
}

.LoginHolder{
display:block !important
}

.LoginHolder{
    min-height: 650px;
    /* min-width: 300px; */
    width: 100%;
    height: 100%;
	margin-top: 50px

}

.LoginHolder{

}
.LoginTable{
width:95%;
margin:0 auto;
}

.LoginLeft , .SplashWords{
display:none
}

.LoginRight{
width:100% ;
vertical-align:middle;

}
.LoginDiv{
width:90%;
margin:40px auto 20px ;
}

#btlTabLoginSubmit{
margin-top:1.1em
}

.cutlery{
height:350px;
width:360px;
background:transparent url(../images/Judgebg-600.png) no-repeat left bottom !important ;
position:absolute;
bottom:0;
}
.napkin{
position:absolute;
right:0; 
bottom:0;
height:300px;
width:220px;
background:url(../images/napkin.png) no-repeat
}

.SplashWords{
width:80%;
margin:0 auto;
dislay:none;
visibility:hidden
}



.ScoreHolder .ui-body-d, .ScoreHolder .ui-overlay-d{
border:0;
padding:0
}

.ScoreHolder{
width:380px;
margin:0 auto ;
}

.ScoreLeft{
font-weight:bold;
font-size:1.1em;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
font-weight:bold;
width:380px 
}


.ScoreRight{
width:380px  !important;
}

.ui-grid-a > *:nth-child(n) {
    width: 380px;
}


.ScoreLeft .ui-bar, .ScoreLeft .ui-body{
overflow-y:visible !important;
}

.ui-controlgroup-horizontal .ui-checkbox .ui-btn-inner, .ui-controlgroup-horizontal .ui-radio .ui-btn-inner {
    padding: 0.7em 25px;
}

.Positioner{
 margin-top:17px;
 }
  

.Total{
margin-top:15px !important;
}

.ui-grid-a{
margin-top:0.5em !important
}

.ui-overlay-e {
background-color:#f5c98c;
}

}


@media screen and (min-width:768px) {
	

/*---IPAD CLASSES--*/
.tcb{

background-image:url(../images/TCBackground.jpg) !important ;
background-position:left top;
background-size: cover !important
}

#scoreTab{
background-color:#fff !important
}


.ui-body-e .ui-content {
background:#fff !important;
height:100% !important
}


.decor{
	background-image:url(../images/decoration-768.png) !important ;
	background-position:right top;
	background-repeat:no-repeat;
	height:415px;
	width:110px;
	position:absolute;
	right:0;
	z-index:11;
	
}
.WelcomePara{
font-weight:normal;
text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#fff /*{e-bar-shadow-color}*/;
margin-top:0
}

.WelcomeTitle{
margin:0
}


.LoginHolder{
margin-top: 215px;
display:block !important
}

.LoginLeft , .SplashWords{
display:block
}
.LoginLeft{
width:45%;
padding:0;
vertical-align:middle;
}

.LoginRight{
width:55%;
vertical-align:middle;
}


.LoginDiv{
margin:50px auto 20px ;
}




.SplashWords{
margin:150px auto 0;
visibility:visible;
width:350px
}

.LoginHolder{
display:block !important
}

.LoginWord{
font-size:16px;
color:#600;
border-bottom:1px dashed #333;
padding:5px 0;
margin-top:20px
}

.LoginInputs{
width:90%;
position:relative;
margin:0 auto;
}


.LoginInputs label{
font-weight:bold;
}


.LoginInputs .ui-body-c,
.LoginInputs .ui-overlay-c{
background-image:none !important ;
background-color:#fff !important ;
border: 1px solid #ccc;
border-radius:0;
}


.LoginInputs .ui-btn-corner-all {
	-webkit-border-radius: 				0 /*{global-radii-buttons}*/;
	border-radius: 						0 /*{global-radii-buttons}*/;
	margin-top:-2px
}







.TitleDiv{
padding:0.3em;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
font-size:1.5em;
text-align:center !important;

}

.SiteLogo{
text-align:center;
padding-top:0.3em;
}

.SiteLogo img{
height:75px;
width:auto;
}

.SiteName{
font-family:Arial,sans-serif;
font-size:0.9em;
text-align:center
}

.LoginDiv .ui-btn-inner { font-size: 14px; padding:10px; min-width: auto; display: block; position: relative;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1; }

.LoginDiv .ui-field-contain, .ui-mobile fieldset.ui-field-contain { border-width: 0; padding: 0; margin: 0 ; }

/*---- */

/* Innerpage Branding */
.ui-body-e .ui-content{
padding:0 ;
font-family:Georgia, "Times New Roman", Times, serif;
}



.type-interior .content-primary {
padding: 0 ;
margin: 0;
}

.ui-content { border-width: 0; overflow: visible; overflow-x: hidden; padding: 0; }


.TopCategories{
width:100%;
background-color:#ffffff
}

.TopCategories td{
text-align:center;
padding:0;
border-left:2px solid #fff;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
font-size:1.2em;
background-color:#FC0;
text-shadow: 1px /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ 	#555 /*{e-body-shadow-color}*/;
}



.TopCategories td:first-child{
border-left:0;
}


.TopCategories a {
text-decoration:none !important
}

.TopCategories td a div{
	height:160px;
	background-color:#fff;
	text-decoration:none !important;
}

.TopCategories td a div span{
	width:100%;
	display:block;
	position:relative;
	background-color:#a26404;
	color:#fff;
	padding:0.3em 0;
}

.TopCategories td a div span.selected{
	background-color:#de8600;
}
.Appetizers,
.Entrees{
width:33%;
}

.Appetizers div
{
	background-image:url(../images/Appetizers.jpg);
	background-position: left top;
	background-repeat:no-repeat;
	height:100px;
}
.Entrees div
{
	background-image:url(../images/Entrees.jpg);
	background-position: left top;
	background-repeat:no-repeat;
	height:100px;


}
.Desserts div{
background-image:url(../images/Desserts.jpg);
background-position: cdnter top;
background-repeat:no-repeat;
height:100px;

}

.Scorer{
width:240px;
margin:0 auto;
}

.Scorer label{
font-weight:bold
}





.ui-link-inherit{
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
}

.ui-btn-hover-e {
    background:#52b5b4;
    border: 1px solid #52b5b4;
    color: #fff !important;
    font-weight: bold;
    text-shadow:none;
}

.ui-btn-up-a {
    /* background: linear-gradient(#444444, #2D2D2D) repeat scroll 0 0 #333333; */
	background:#c60404 !important;
    border: 1px solid #111111;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
}






.content-secondary .ui-btn-hover-e {
	background: 			#fbe26f /*{e-bhover-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{e-bhover-background-start}*/), to( #fff5ba /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{e-bhover-background-start}*/, #fff5ba /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{e-bhover-background-start}*/, #fff5ba /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{e-bhover-background-start}*/, #fff5ba /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{e-bhover-background-start}*/, #fff5ba /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{e-bhover-background-start}*/, #fff5ba /*{e-bhover-background-end}*/);
}

.content-primary .ui-btn-inner { font-size: 1.2em; padding:5px 10px; min-width: auto; display: block; position: relative;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1; }

.content-primary .ui-btn-up-e {
	border: 1px solid 		#333 /*{c-bup-border}*/;
	background: 			#eee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9c635 /*{c-bup-background-start}*/), to( #e9a80b /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9c635 /*{c-bup-background-start}*/, #e9a80b /*{c-bup-background-end}*/);
}





.TeamDiv{
font-size:1.4em;
font-weight:bold;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
color:#ffffff;
text-shadow: 1px 1px #333 ;
text-align:center;
margin:15px 0;
margin:0 auto 5px auto;
padding:5px;
/*background-image:url(../images/TeamBg.jpg);*/
background:#de8600;
border-top:2px solid #fff;
border-bottom:2px solid #333;
}

.scoreControlContainer{
width:300px;
margin-top:15px
}

.scoreControlContainer table
{
border: 1px solid #777;
font-weight:bold;
width:100%
}


.scoreControlContainer table td{
padding:5px;
vertical-align:middle
}




.UserDivSP{
font-size:10px;
text-align:right;
padding:10px 5px 0;
width:auto;
position:absolute;
right:0;
text-shadow: 0 /*{e-bar-shadow-x}*/ 0 /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#fff /*{e-bar-shadow-color}*/;
}

.content-primary{
background-color:#fff;
/*background-image:url(../images/plate.jpg) !important ;
background-position:right 95%;
background-repeat:no-repeat*/

}



.cellColored{
background-image: -webkit-gradient(linear, left top, left bottom, from( #c60404 /*{e-bar-background-start}*/), to( #900000 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c60404 /*{e-bar-background-start}*/, #900000 /*{e-bar-background-end}*/);
color:#ffffff;
text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ 	#555 /*{e-body-shadow-color}*/;
border-right:1px solid #fff;
}

.cellNonColored{
background-color:#999
}


.ui-mobile .ui-header .ui-title{font-size: 1.5em; 
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
color:#f8f8f8;
text-shadow: 1px 1px #777;
}
.ui-mobile .ui-header .ui-btn-inner { font-size: 12.5px; padding: .22em 11px .4em 25px}
.SMbodybg{
background-color:#ffffff;
height:100%;

}

.SMbodybg .ScoreCategory{
font-weight:bold;
font-size:12px;
position:relative;

}

.SMbodybg .Score{
font-weight:bold;
position:relative;
top:-10px;
padding:0;
margin:0
}

.SMbodybg .ui-grid-a{
margin:0 auto;
}

.SMbodybg .ScoreRight{
font-weight:bold
}

.SMbodybg .scoreControlContainer{
margin-top:5px;
width:280px
}

.SMbodybg .ui-controlgroup-horizontal .ui-radio .ui-btn-inner {padding: .6em 17px; }

.SMbodybg .ui-btn-text{
color:#000000 !important
}




.Total{
margin-top:15px;
}

.SMbodybg .TitleDiv{
font-size:1em;
font-weight:bold;
margin: 0;
width:95%;
margin:0 auto 0px auto;
padding:5px;
text-align:center
}

.SMbodybg .TeamDiv{
font-size:1em;
font-weight:bold;
color:#ffffff;
text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #333 /*{c-body-shadow-color}*/;
text-align:center;
margin:15px 0;
margin:0 auto 15px auto;
padding:5px;
background-image:url(../images/TeamBg.jpg);
border-top:2px solid #fff;
border-bottom:2px solid #333;
}

.SMbodybg .ScoreLeft{
width:100% !important ;
font-weight:bold
}

.content-primary .ui-btn-active{
background-color:#c60404 ;
background-image:none
}


.SMbodybg .ui-grid-a
{
  padding:0;
  margin:0;
  height:78px !important
}


.SMbodybg .Positioner
{top:0}

.SMbodybg .Total{
font-size:12px
}


.SMbodybg .ui-bar, .SMbodybg .ui-body { position: relative; padding-top: 0;overflow: hidden; display: block; clear:both; }



.napkin{
width:220px; 
height:400px; 
background-color:red; 
position:absolute; 
right:0; 
bottom:0;
background:url(../images/napkin.png) no-repeat
}

.cutlery{
height:560px;
width:415px;
background:transparent url(../images/Judgebg.png) no-repeat left bottom !important ;
position:absolute;
bottom:0;
}





.UserDiv{
font-size:17px;
padding:17px 10px 0;
}

}

@media only screen and (min-width :900px)  {
	


.ScoreHolder{
width:650px ;
margin:0 auto;
}



.ScoreLeft{
font-weight:bold;
font-size:1.1em;
font-family: 'Arvo', 'serif';
font-family:Helvetica, Arial, sans-serif;
font-weight:bold;
width:250px 
}


.ScoreRight{
width:400px  !important;
}

.ui-grid-a > *:nth-child(n) {
    width: 250px;
}



.decor{
	background-image:url(../images/decoration.png) !important ;
	background-position:right top;
	background-repeat:no-repeat;
	height:415px;
	width:300px;
	margin-right:0;
	position:absolute;
	right:0;
	z-index:10;
	
}



.cutlery{
height:560px;
width:415px;
background:transparent url(../images/Judgebg-768.png) no-repeat left bottom !important ;
position:absolute;
bottom:0;
}

.LoginLeft{
width:45%;
vertical-align:middle;

}


.LoginHolder {

    margin-top: 115px;
}



}



@media only screen and (min-width :1025px)  {
	
.tcb{
	width:100%;
	height:100%;
background-image:url(../images/TCBackground.jpg) !important ;
background-position:left top;
background-size: cover!important
}

.LoginLeft {
width:50%
}

.LoginRight {
width:50%
}

.SplashWords{
width:500px;
}
}


body{
font-family: 'ralewayregular';
}		
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
div#login, 
div#login .ui-content,
.LoginTable {
    height: 100%;
}
.ui-body input {
    min-height: 22px;
    font-size: 15px;
}
.LoginDivInner {
    width: 86%;
    margin: 0 auto;
}

.ui-content {
    border-width: 0;		  
    overflow-x: hidden;		  
    overflow-y: hidden;		 
    padding: 20px 15px 0;		
}		
.SiteName{
	font-family: 'ralewayregular';	
	font-size:1.2em;		
	color:#000;		
	text-align:center		
}	
.SplashWords{
	margin:0 auto;
	font-family: 'ralewayregular';
	color:#fff/*{c-body-color}*/;
	text-shadow: 1px /*{c-body-shadow-x}*/ 0  #333 /*{c-body-shadow-color}*/;
	font-size:0.95em;
}

.SplashWords p {
    padding: 0;
    margin: 2px 15px 10px 70px;
}
.good-luck-text{
    font-size:28px;
}
 
.ui-btn-up-e {
    font-family: 'ralewayregular';
}
.LoginInputs{
	width:100% ;
}
.UserDiv{
	font-family: 'ralewayregular';
}
.ScoreLeft{
	font-family: 'ralewayregular';
}
.ui-body-d, .ui-overlay-d{
	font-family: 'ralewayregular';
}
.LoginDiv .ui-btn-inner{
	color:#e91c30;
	font-size: 20px;
}
input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
	}
@media screen and (min-width:480px) {
    
	.SiteName {
		font-size: 28px;
		text-shadow: none;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.9);
		font-family: 'ralewaylight';
	}
	.SiteName strong{
		font-family: 'ralewaysemibold';
	}
}

@media screen and (min-width:590px) {
	.LoginTable{
		width:100%;
	}
	.LoginRight{
		vertical-align:bottom;
	}
	.LoginDiv{
		width:100%;
		margin:40px auto 20px ;
		background: #e91c30; /* Old browsers */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9da8b',GradientType=1 ); /* IE6-9 */
	}
	#btlTabLoginSubmit {
		margin-top: 1.1em;
		background: #fff;
		border: 1px solid #fff;
		font-size: 24px;
		border-radius: 20px;
	}
	.ScoreLeft{
		font-family: 'ralewayregular';
	}
}

@media screen and (min-width:768px) {
    
/*---IPAD CLASSES--*/
	.tcb{
		background-image:url(../images/ipad-landscape-bg.jpg) !important ;
		background-position:left top;
		background-size: cover !important
	}
	.LoginLeft {
		display:table-cell;
	}
	.LoginLeft{
		width:45%;
		padding:0;
		vertical-align:bottom;
		padding-bottom: 100px;
	}
 
	.LoginRight{
		width:40%;
		vertical-align:bottom;
		padding-bottom: 100px;
		min-width: 220px;
		padding-right: 100px;
	}

	.LoginDiv{
		margin:0px auto 0px ;
		padding: 30px 10px;
		}
	.SplashWords{
		margin:150px auto 0;
		visibility:visible;
		width:100%;
		padding: 15px 0;
		background: rgba(3,3,3,0.66);
		background: -moz-linear-gradient(left, rgba(3,3,3,0.66) 0%, rgba(0,0,0,0.38) 81%, rgba(0,0,0,0.36) 82%, rgba(0,0,0,0.08) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,3,3,0.66)), color-stop(81%, rgba(0,0,0,0.38)), color-stop(82%, rgba(0,0,0,0.36)), color-stop(100%, rgba(0,0,0,0.08)));
		background: -webkit-linear-gradient(left, rgba(3,3,3,0.66) 0%, rgba(0,0,0,0.38) 81%, rgba(0,0,0,0.36) 82%, rgba(0,0,0,0.08) 100%);
		background: -o-linear-gradient(left, rgba(3,3,3,0.66) 0%, rgba(0,0,0,0.38) 81%, rgba(0,0,0,0.36) 82%, rgba(0,0,0,0.08) 100%);
		background: -ms-linear-gradient(left, rgba(3,3,3,0.66) 0%, rgba(0,0,0,0.38) 81%, rgba(0,0,0,0.36) 82%, rgba(0,0,0,0.08) 100%);
		background: linear-gradient(to right, rgba(3,3,3,0.66) 0%, rgba(0,0,0,0.38) 81%, rgba(0,0,0,0.36) 82%, rgba(0,0,0,0.08) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#000000', GradientType=1 );
	}
	.LoginInputs{
		width:100%;
	}
	.LoginInputs .ui-body-c,
	.LoginInputs .ui-overlay-c{
		background-image: none !important;
		background: transparent !important;
		border: 1px solid #fff;
		color: #fff ;
		border-radius: 20px;
		text-shadow: none;
		padding-left: 25px;
		font-size: 18px;
		font-weight: normal !important;
		font-family: 'ralewaylight';
	}
	.TitleDiv {
		font-family: 'ralewayregular';
	}
	.SiteName {
		font-family: 'ralewayregular';
		font-size: 0.9em;
		text-align: center;
		text-shadow: none;
		color:#fff;
	}
	.ui-body-e .ui-content{
		padding:0 ;
		font-family: 'ralewayregular';
	}
	.ui-content { border-width: 0; overflow: hidden; overflow-x: hidden; padding: 0; }
	.TopCategories td{
		font-family:Helvetica, Arial, sans-serif;
		font-family: 'ralewayregular';
		font-size:1.2em;
		background-color:#FC0;
		text-shadow: 1px /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/   #555 /*{e-body-shadow-color}*/;
	}
	.ui-link-inherit{
		font-family:Helvetica, Arial, sans-serif;
		font-family: 'ralewayregular';
	}
	
	.TeamDiv{
		font-family:Helvetica, Arial, sans-serif;
		font-family: 'ralewayregular';
		color:#ffffff;
	}
	.ui-mobile .ui-header .ui-title{
		font-size: 1.5em; 
		font-family:Helvetica, Arial, sans-serif;
		font-family: 'ralewayregular';
		color:#f8f8f8;
		text-shadow: 1px 1px #777;
	}
	.ScoreLeft{
		font-family:Helvetica, Arial, sans-serif;
		font-family: 'ralewayregular';
		font-weight:bold;
		width:250px 
	}
	.LoginLeft{
		width:45%;
		vertical-align:bottom;
	}
	.LoginHolder {
		margin-top: 0px;
	}
 
}
@media only screen and (min-width :1025px)  {
	 
	.tcb{
		width:100%;
		height:100%;
		background-image:url(../images/ipad-landscape-bg.jpg);
		background-position:left top;
		background-size: cover!important
	}
 
	.LoginRight {
		width: 20%;
		min-width: 260px;
		padding-right: 100px;
	}
}
/* all media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.tcb {
		background-image:url(../images/Login_Screen_bg_2.jpg) !important ;
		background-color:#e91c30;
		background-position: center bottom;
		background-size: cover!important;
	}
	.ui-body-d, .ui-overlay-d {
		
		font-size: 14px !important;
	}
	.UserDiv{
		right:5px !important;
	}
	.LoginHolderSP {
		background: transparent;
	}
	.Login{
		vertical-align:top;
	}
	.LogoHolder img {
		height: 175px;
		width: auto;
	}
	.SiteName {
		font-family: 'ralewayregular';
		color: #000;
		text-shadow: none;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 15px;
		padding-bottom: 15px;
		/* border-bottom: 1px solid; */
	}
	.LoginInputs .ui-body-c, .LoginInputs .ui-overlay-c {
		border-radius: 10px;
	}
	.LoginInputs .ui-btn-corner-all {
		-webkit-border-radius: 0 /*{global-radii-buttons}*/;
		border-radius: 0 /*{global-radii-buttons}*/;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 20px;
	}
	.ui-field-contain {
		margin-bottom: 15px;
	}
	.Login .ui-field-contain input.ui-input-text {
		padding-left: 0px !important;
		background: rgba(255, 253, 253, 0.2) !important;
		color:#fff;
		border: 1px solid #fff !important;
		border-radius: 20px !important;
		font-family: 'ralewaylight';
		font-weight: normal !important;
		margin-right: -20px !important;
		padding-left: 20px !important;
		position: relative;
		right: 0;
		width: 94%;
	}
	.ui-field-contain .ui-btn-inner{
		border:none !important;
		top: 2px;
		font-size: 18px;
	}
	.LoginDiv {
		width: 95%;
	}
	.LoginInputs .ui-body-c, .LoginInputs .ui-overlay-c {
		background-image: none !important;
		background-color: rgba(255, 255, 255, 0) !important;
		border: none;
		padding: 0;
	}
	.LogoHolder {
		margin-bottom: 5px;
		position: relative;
		top: -40px;
	}
	.ScoreRight {
		width: 100% !important;
	}
	.ScoreHolder {
		width: 90%;
		margin: 0.8em auto 0;
	}
	.ui-radio {
		width: 16.60%;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.SplashWords p {
		font-size: 18px !important;
	}
	.SplashWords p.good-luck-text{
		font-size: 24px !important;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.tcb{
		width:100%;
		height:100%;
		background-image:url(../images/ipad-landscape-bg.jpg);
		background-position:left top;
		background-size: cover!important
	}
	.LoginLeft,.LoginRight{
		background: transparent;
	}
	.LoginTable {
		position:relative;
		top:0;
	}
	.SiteLogo img {
		height: 150px;
		width: auto;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
	}
	.SplashWords p {
		font-size: 18px !important;
	}
	.SplashWords p.good-luck-text{
		font-size: 24px !important;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.tcb{
		width:100%;
		height:100%;
		background-image:url(../images/ipad-potrait-bg.jpg) !important;
		background-position:left top;
		background-size: cover!important
	}
	.LoginHolder{
		margin-top:0;
	}
	.ui-controlgroup .ui-radio{
		width:16%;
	}
	.LoginRight{
		background: #e91c30 !important;
		padding-right:00px !important;
		padding-bottom:100px;
		vertical-align: middle;
	}
	.LoginLeft{
		vertical-align: top;
		padding-bottom:200px;
		background: transparent;
	}
	.SiteLogo img {
		height: 150px;
		width: auto;
	}
	.LoginDiv {
		width: 95%;
	}
	.SplashWords {
		margin: 90px auto 0;
	}
	.LoginTable {
		position:relative;
		top:0;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
	}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media screen and (min-width: 768px)
{
	.LoginLeft,.LoginRight {
		background: transparent;
	}
	.LoginTable {
		position: relative;
		top: 0;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
	}
}



@media only screen and (min-device-width : 1025px) and (max-device-width : 2048px) {
	.LoginLeft,.LoginRight{
		vertical-align: middle;
	}
	.SplashWords p {
		font-size: 24px;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
		border-radius:20px !important;
	}
	#scoreTab .TitleDiv {
		font-family: 'ralewayregular';
		margin-top: 20px;
		margin-bottom:40px;
	}
	.SplashWords {
		margin: 0px auto ;
	}
	.SplashWords p {
		font-size: 24px;
	}
	.TopCategories td a div{
		background-size: cover;
		background-position: 0 -10px;
	}
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 2048px) and (orientation : landscape) {
	.LoginLeft,.LoginRight{
		vertical-align: bottom !important;
	}
	.SplashWords p {
		font-size: 18px !important;
	}
	.SplashWords p.good-luck-text{
		font-size: 24px !important;
	}
	/* .LogoHolder img {
		height: 250px;
	}
	.SiteName {
		font-size: 32px;
	}
	.LoginInputs .ui-body-c, .LoginInputs .ui-overlay-c {
		font-size: 22px;
	} */
	.LoginDiv .ui-btn-inner {
		color: #e91c30;
		font-size: 20px;
	}
}
@media only screen and (min-device-width : 2048px) and (max-device-width : 3048px) {
	.LoginLeft,.LoginRight{
		vertical-align: middle ;
	}
	.SplashWords p {
		font-size: 24px;
	}
	input:focus ,.ui-input-text.ui-focus{
		outline: none !important;
		box-shadow:none !important;
		color:#333 !important;
		background:#fff !important;
		border-radius:20px !important;
	}
	#scoreTab .TitleDiv {
		font-family: 'ralewayregular';
		margin-top: 20px;
		margin-bottom:40px;
	}
	.SplashWords {
		margin: 0px auto ;
	}
	.TopCategories td a div{
		background-size: cover;
		background-position: 0 -10px;
	}
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 2047px) and (orientation : landscape) {
	.LoginLeft,.LoginRight{
		vertical-align: bottom;
	}
	.SplashWords p {
		font-size: 22px !important;
	}
	.SplashWords p.good-luck-text{
		font-size: 28px !important;
	}
}
